body {
  background: var(--color-bg);
  color: var(--color-text);
  font-size: var(--size-step-0);
  font-family: var(--font-base);
  line-height: var(--leading-standard);
  font-size-adjust: from-font;
  margin: 0;
}

:is(h1, h2, h3, h4) {
  line-height: var(--leading-fine);
  font-family: var(--font-heading);
  font-weight: var(--font-normal);
  text-wrap: balance;
}

h1 {
  font-size: var(--size-step-7);
  max-width: 20ch;
}

h2 {
  font-size: var(--size-step-6);
  max-width: 35ch;
}

h3 {
  font-size: var(--size-step-5);
  max-width: 35ch;
}

:is(h4, h5, h6) {
  font-size: var(--size-step-4);
}

small {
  font-size: var(--size-step-00);
}

/* For the icon */
@keyframes rattle {
  20% {
    transform-origin: center;
    transform: rotate(10deg);
  }

  40% {
    transform-origin: center;
    transform: rotate(-9deg);
  }

  60% {
    transform-origin: center;
    transform: rotate(16deg);
  }

  80% {
    transform-origin: center;
    transform: rotate(-9deg);
  }
}

.logo-icon svg {
  height: inherit;
  width: inherit;
}

.logo-icon:hover {
  animation: rattle 400ms ease-in-out 1;
}