---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import filterPublishedPosts from '../../utilities/filterPublishedPosts';

export async function getStaticPaths() {
  const posts = filterPublishedPosts(await getCollection('blog'));

  const topics = [...new Set(posts.flatMap((post) => post.data.topics))];
	return topics.map((topic) => ({
		params: { topic }
	}));
}

const { topic } = Astro.params;

const postsInTopic = filterPublishedPosts(await getCollection('blog')).
    filter((post) => (topic && post.data.topics.includes(topic)));
---

<BaseLayout>
  <section class="prose prose-slate prose-lg dark:prose-invert prose-img:rounded-md mb-8 prose-text-link">
    <h1>#{topic.toLowerCase()}</h1>
    <ul class="not-prose flex flex-col gap-y-8 p-0">
      {
        postsInTopic.map((post) => (
          <li class="flex justify-between gap-4">
            <a href={`/${post.slug}/`} class="text-link">{post.data.title}</a>
            <FormattedDate date={post.data.pubDate} class="shrink-0" />
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
