---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import showDraftPosts from '../../utilities/showDraftPosts';
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
	const posts = (await getCollection('blog')).
    filter((post) => showDraftPosts(post));

  const topics = [...new Set(posts.flatMap((post) => post.data.topics))];
	return topics.map((topic) => ({
		params: { topic }
	}));
}

const { topic } = Astro.params;

const tagPosts = (await getCollection('blog')).
    filter((post) => showDraftPosts(post) && (topic && post.data.topics.includes(topic)));
---

<BaseLayout>
  <section class="prose dark:prose-invert prose-text-link">
    <h1>Posts about {topic}</h1>
    <ul>
      {
        tagPosts.map((post) => (
          <li>
            <FormattedDate date={post.data.pubDate} />
            <a href={`/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
