---
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import Newsletter from '@components/Newsletter.astro'
import filterPublishedPosts from '@utilities/filterPublishedPosts';

export async function getStaticPaths() {
  const posts = filterPublishedPosts(await getCollection('blog'));

  const topics = [...new Set(posts.flatMap((post) => post.data.topics))];
	return topics.map((topic) => ({
		params: { topic }
	}));
}

const { topic } = Astro.params;

const postsInTopic = filterPublishedPosts(await getCollection('blog')).
    filter((post) => (topic && post.data.topics.includes(topic)));
---

<BaseLayout>
  <main class="wrapper">
    <h1>#{topic.toLowerCase()}</h1>
    <ul class="article-list flow">
      {
        postsInTopic.map((post) => (
          <li class="article-list__item">
            <a href={`/writing/${post.slug}/`}>{post.data.title}</a>
            <FormattedDate date={post.data.pubDate} />
          </li>
        ))
      }
    </ul>
  </main>
  <Newsletter />

</BaseLayout>

<style>
  main {
    --gutter: var(--space-m);
    margin-top: var(--space-xl);
    margin-bottom: var(--space-3xl);
  }

  h1 {
		font-size: var(--font-step-7);
    font-family: var(--font-hero);
    margin-bottom: var(--space-xl);
	}

  .article-list {
    --flow-space: var(--space-l);
    list-style: none;
    padding: 0;
  }

  .article-list__item {
    display: flex;
    gap: var(--space-xs);
    font-size: var(--font-step-1);
  }
</style>
