---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import showDraftPosts from '../../utilities/showDraftPosts';

const posts = (await getCollection('blog')).
  filter((post) => showDraftPosts(post));

const topics = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<BaseLayout>
	<section class="prose dark:prose-invert prose-text-link">
		<h1>Topics I write about</h1>
		<ul>
			{
				topics.map((topic) => (
					<li>
						<a href={`/topics/${topic}`}>{topic}</a>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>
