---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import filterPublishedPosts from '../../utilities/filterPublishedPosts';

const posts = filterPublishedPosts(await getCollection('blog'));
const topics = [...new Set(posts.flatMap((post) => post.data.topics))];
---

<BaseLayout>
	<section>
		<h1>Topics I write about</h1>
		<ul>
			{
				topics.map((topic) => (
					<li>
						<a href={`/topics/${topic}/`}>{topic}</a>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>
