---
import BaseLayout from "../../layouts/BaseLayout.astro";
import getTopicsWithPosts from "@utilities/getTopics";
import Newsletter from "@components/Newsletter.astro";

const topicsWithPosts = await getTopicsWithPosts();

const topics = topicsWithPosts.map((t) => t.topic);
---

<BaseLayout>
	<main class="flow wrapper topic-list">
		<h1>Topics I write about</h1>
		<ul>
			{
				topics.map((topic) => (
					<li>
						<a href={`/topics/${topic}/`}>
							{topic.charAt(0).toUpperCase() + topic.slice(1)}
						</a>
					</li>
				))
			}
		</ul>
		<Newsletter />
	</main>
</BaseLayout>

<style>
	main {
		--gutter: var(--space-m);
		padding-top: var(--space-xl);
	}

	h1 {
		font-size: var(--font-step-7);
		font-family: var(--font-hero);
	}

	li {
		font-size: var(--font-step-1);
	}
</style>
