/*
WRAPPER COMPOSITION
A common wrapper/container
*/
.wrapper {
  margin-inline: auto;
  max-width: var(--wrapper-max-width, 1200px);
  width: 100%;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  position: relative;
}
