.card {
  background: var(--card-bg);
  padding: var(--space-m);
  border-radius: var(--radius-s);
}

.card__heading {
  font-family: var(--font-base);
  font-size: var(--size-step-0);
  font-weight: var(--font-bold);
}

li:has(> .card) {
  list-style-type: none;
}

.card__article {
  --card-bg: var(--color-primary);
  border-left: solid 10px var(--color-accent);
}

.card__read-more {
  display: inline-flex;
  align-items: center;
  color: var(--color-text);
  gap: var(--space-3xs);
}

.card__read-more svg {
  font-size: var(--size-step-00);
  transform: translateY(0.3ex);
}