.card {
  background: var(--card-bg);
  padding: var(--space-l);
  border-radius: var(--radius-s);
}

.card__heading {
  font-family: var(--font-base);
  font-size: var(--size-step-1);
  font-weight: var(--font-bold);
}

li:has(> .card) {
  list-style-type: none;
}

.card__article {
  --card-bg: var(--color-primary);
  border-left: solid 10px var(--color-accent);
  max-width: 50ch;
}
