.site-foot {
  margin-block-start: var(--space-3xl);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: var(--gutter, var(--space-s-l));
  margin-bottom: var(--space-s-l);
  justify-content: space-between;
}

.site-foot > div {
  --space: var(--space-4xs);
}

.site-foot__links {
  padding-inline-start: 0;
  --flow-space: 0.1lh;
}

.site-foot__social {
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
}

.site-foot__social a {
  transition: var(--transition-movement);
  opacity: 1;
}

.site-foot__social a:hover {
  transition: var(--transition-movement);
  opacity: 0.7;
}