.site-foot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: var(--gutter, var(--space-s-l));
  margin-bottom: var(--space-s-l);
}

.site-foot__content {
  display: flex;
  flex-direction: row;
  gap: var(--gutter, var(--space-s-l));
  flex-grow: 1;
}

.site-foot__content > div {
  --space: var(--space-4xs);
  flex-grow: 1;
}

.site-foot__links {
  padding-inline-start: 0;
}

.site-foot__social {
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
}