.site-foot {
  margin-block-start: var(--space-3xl);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: var(--gutter, var(--space-s-l));
  margin-bottom: var(--space-s-l);
  justify-content: space-between;
}

.site-foot > div {
  --space: var(--space-4xs);
}

.site-foot__links {
  padding-inline-start: 0;
}

.site-foot__social {
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
}