.bg-splash {
  /* TODO: Height is a magic number */
  height: 70vh;
  left: 0px;
  top: 0px;
  content: '';
  display: block;
  position: absolute;
  background: var(--color-hero-grd);
  width: 100%;
  z-index: -1;
}

.hero {
  overflow: hidden;
  position: relative;
}
/* TODO: the 66% magic number is not ideal */
.hero__text {
  max-width: 66%;
  align-self: flex-start;
}

.hero__img {
  max-width: 30%;
  /* TODO: This is also a magic number */
  padding-top: 1rem;
  /* To flip image, may need to remove if image changes */
  transform: scaleX(-1);
}