{{ define "main" }}

<main>
	<div class="info__post">
		{{ .Content }}
		<ul>
				<li>
				Email: <a href="mailto:{{.Params.contact_info.email}}">{{ .Params.contact_info.email }}</a>
				</li>
				<li>
					Twitter: <a href="https://twitter.com/{{.Params.contact_info.twitter_handle}}">
						@{{.Params.contact_info.twitter_handle}}
					</a>
				</li>
				<li>
				 Github: <a href="https://github.com/{{.Params.contact_info.github_handle }}">{{.Params.contact_info.github_handle }}</a>
				</li>
				<li>
					LinkedIn: <a href="{{.Params.contact_info.linked_in_url}}">
						{{.Params.contact_info.linked_in_handle}}
					</a>
				</li>
			</ul>
	</div>
</main>

{{ end }}
