:root {
  color-scheme: light dark;

  --color-dark-bg: #182520;
  --color-light-bg: #FEFDFB;
  --color-dark-text: #111110;
  --color-light-text: #FAFAFA;
  --color-dark-accent: #3D562F;
  --color-light-accent: #A3E0CA;
  --color-logo-light: #BBB791;
  --color-logo-dark: #A3E0CA;
}