@import "./reset.css";
@import "./spacing.css";
@import "./typography.css";
@import "./color.css";
@import "./transitions.css";

@import "./compositions/wrapper.css";
@import "./compositions/flow.css";
@import "./compositions/cluster.css";
@import "./compositions/sidebar.css";

.astro-code,
.astro-code span {
  color: light-dark(var(--shiki-light), var(--shiki-dark));
  background-color: light-dark(var(--shiki-light-bg), var(--shiki-dark-bg));
  /* Optional, if you also want font styles */
  font-style: light-dark(var(--shiki-light-font-style), var(--shiki-dark-font-style));
  font-weight: light-dark(var(--shiki-light-font-weight), var(--shiki-dark-font-weight));
  text-decoration: light-dark(var(--shiki-light-text-decoration), var(--shiki-dark-text-decoration));
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-size: var(--font-step-0);
  font-family: var(--font-base);
  font-size-adjust: from-font;
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
}

/* https://gomakethings.com/hidden-content-for-better-a11y/ */
.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

::selection {
  color: var(--color-light-text);
  background: var(--color-selection-bg);
}

:is(input, button) {
  font-family: var(--font-base);
}

:is(h1, h2, h3, h4, h5) {
  letter-spacing: -0.01em;
  margin-block-end: var(--space-m);
  margin-block-start: 0;;
}

:is(h1, h2, h3, h4, h5) > a {
  text-decoration: none;
}

article :is(h1, h2, h3, h4, h5, p) {
  text-wrap: pretty;
}

article h1 {
  font-size: var(--font-step-5);
}

article h2 {
  font-size: var(--font-step-4);
}

article h3 {
  font-size: var(--font-step-3);
}

article h4 {
  font-size: var(--font-step-2);
}

article h5 {
  font-size: var(--font-step-1);
}

article h6 {
  font-size: var(--font-step-0);
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  padding-block-start: 0.5em;
  font-size: var(--font-step-0);
  font-style: italic;
}

img {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 40rem;
  object-position: top;
  border-radius: 0.5rem;
}

blockquote {
  border: 0.1em dotted var(--color-hover-text);
  border-radius: var(--space-3xs);
  box-shadow: 0.4em 0.4em 0 0 var(--color-about-bg);
  margin: 0;
  margin-block-start: var(--space-m);
  margin-block-end: var(--space-m);
  padding: var(--space-m) var(--space-l);
  font-size: var(--font-step-1);
  font-style: italic;
}

blockquote p {
  margin: 0;
}

pre {
  position: relative;
  padding: var(--space-l) var(--space-s);
  border-radius: var(--space-3xs);
}

pre:has(code) {
  max-width: 100%;
  overflow-x: auto;
}

pre code {
  border: none;
  background: none;
  padding: 0;
}

code {
  /* TODO: Move these colours into a variable. Comes from evergreen theme */
  background: light-dark(#fdf6e3, #2d353b);
  color: light-dark(#5c6a72, #d3c6aa);
  padding: 0.2rem;
  border-radius: var(--space-3xs);
}

a {
  color: var(--color-text);
  font-weight: 800;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.4rem;
  text-decoration-style: dotted;
  transition: color var(--transition-base);
}

a:hover {
  color: var(--color-hover-text);
}

[role='list'][class],
[role='tablist'][class] {
  margin-block: 0;
  padding: 0;
}

/* article ul {
  padding-left: var(--space-l);
}

article li {
  margin-bottom: var(--space-xs);
  list-style: initial;
} */

.copy-code {
  position: absolute;
  top: 0;
  right: 0;
  background-color: light-dark(var(--color-dark-bg), var(--color-light-bg));;
  color: light-dark(var(--color-light-text), var(--color-dark-text));
  padding: 0.25rem 0.5rem;
  font-size: var(--font-step--1);
  border: none;
  box-shadow: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity var(--transition-bounce);
}

.copy-code:hover {
  opacity: 0.8;
}