@import "./spacing.css";
@import "./typography.css";
@import "./color.css";

[data-theme="light"] {
	color-scheme: light;
}

[data-theme="dark"] {
	color-scheme: dark;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-size: var(--font-step-0);
  font-family: var(--font-base);
  font-size-adjust: from-font;
  margin: 0;
}

/* https://gomakethings.com/hidden-content-for-better-a11y/ */
.screen-reader {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}
