---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import showDraftPosts from '../../utilities/showDraftPosts';
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
	const posts = (await getCollection('blog')).
    filter((post) => showDraftPosts(post));;

  const tags = [...new Set(posts.flatMap((post) => post.data.tags))];
	return tags.map((tag) => ({
		params: { tag: tag }
	}));
}

const { tag } = Astro.params;

const tagPosts = (await getCollection('blog')).
    filter((post) => showDraftPosts(post) && (tag && post.data.tags.includes(tag)));
---

<BaseLayout>
  <ul>
    {
      tagPosts.map((post) => (
        <li>
          <FormattedDate date={post.data.pubDate} />
          <a href={`/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
