---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import showDraftPosts from '../../utilities/showDraftPosts';

const posts = (await getCollection('blog')).
  filter((post) => showDraftPosts(post));

const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<BaseLayout>
	<section>
		<h1> Tags </h1>
		<ul>
			{
				tags.map((tag) => (
					<li>
						<a href={`/tags/${tag}`}>{tag}</a>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>
