---
import BaseLayout from '../layouts/BaseLayout.astro';
import { CollectionEntry, getCollection } from 'astro:content';
import showDraftPosts from '../utilities/showDraftPosts';
import FormattedDate from '../components/FormattedDate.astro';


const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
).filter((post) => showDraftPosts(post));
---

<BaseLayout>
    <p class="mb-16">
        Hey there, I'm Jonathan Yeong 👋. But you can call me Jono! If you're new here, I write about all the things that excite me.
        Topics like how we work, ways to level up as a developer, and random tech learnings. If you want to stay up to date,
        subscribe to my <a href="/rss.xml" class="text-link">RSS</a>. If you want to hear more from me find me on
        <a href="https://hachyderm.io/@jonathanyeong" class="text-link">Mastadon</a> or
        <a href="https://www.youtube.com/channel/UClb6km0HLkGUOEjHlp5WdPA" class="text-link">Youtube</a>.
    </p>

	<ul class="flex flex-col gap-y-8">
		{
			posts.map((post) => (
				<li class="flex justify-between gap-4">
					<a href={`/${post.slug}/`} class="text-link">{post.data.title}</a>
					<FormattedDate date={post.data.pubDate} class="shrink-0" />
				</li>
			))
		}
	</ul>
</BaseLayout>