---
import BaseLayout from '../layouts/BaseLayout.astro';
import ArticleList from '../components/ArticleList.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import filterPublishedPosts from '../utilities/filterPublishedPosts';
import Button from '../components/Button.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Hero from '../components/Hero.astro';
const articles = filterPublishedPosts(await getCollection('blog')).slice(0, 3);
const notes = filterPublishedPosts(await getCollection('blog')).slice(0, 9);
---

<BaseLayout>
  <Hero />
  <div class="sidebar" data-direction="rtl">
    <div>
      <h2>Articles</h2>
      <p>Tutorials, evergreen articles, polished thoughts</p>
      <ArticleList posts={articles} />
    </div>

    <div class="sidebar__notes">
      <h2>Notes</h2>
      <p>Reflections, learnings, seeds of ideas</p>
      <ul class="note-list flow">
        {
          notes.map((post) => (
            <li>
              <a href=`/${post.slug}`>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
      <Button link="/writing" text="see all writing" />
    </div>
  </div>
</BaseLayout>
