---
import BaseLayout from '../layouts/BaseLayout.astro';
import ArticleCard from '../components/ArticleCard.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import filterPublishedPosts from '../utilities/filterPublishedPosts';

const posts = filterPublishedPosts(await getCollection('blog'));

---

<BaseLayout>
    <p>
        Welcome 👋! My name's Jono Yeong, I'm a Staff Software Engineer from Australia currently based in Canada.
        This blog is a collection of notes on topics that I find interesting and exciting.
        If you want to stay up to date, subscribe to my <a href="/rss.xml/" class="text-link">RSS</a>.
    </p>

  <ul>
    {
      posts.map((post) => (
        <li>
          <ArticleCard title={post.data.title} description={post.data.description} slug={post.slug} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
