---
import { getCollection } from 'astro:content';
import { Icon } from "astro-icon/components";

import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '@components/Hero.astro';
import FeaturedArticleList from '@components/FeaturedArticleList.astro'
import Newsletter from '@components/Newsletter.astro';

import filterPublishedPosts from '../utilities/filterPublishedPosts';

const posts = filterPublishedPosts(await getCollection('blog')).slice(0, 7);
---

<BaseLayout>
  <main class="flow">
    <Hero />
    <div class="article-list">
      <h2>Featured</h2>
      <FeaturedArticleList posts={posts} />
      <a class="article-list__view-more" href="/writing">view all writing <Icon name="arrow-right" /></a>
    </div>
    <Newsletter />
  </main>

</BaseLayout>

<style>
  .article-list {
    margin-top: var(--space-3xl);
  }

  h2 {
    font-size: var(--font-step-3);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -0.03em;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: var(--space-l);
  }

  a {
    font-size: var(--font-step-0);
    font-weight: 800;
    text-decoration: none;
    color: var(--color-text);
  }

  a:hover {
    color: var(--color-hover-text);
  }

  .article-list__view-more {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    gap: var(--space-xs);
    letter-spacing: -0.03em;
    margin-top: var(--space-m);
  }

  [data-icon] {
    font-size: var(--font-step-1);
  }
</style>
