---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import showDraftPosts from '../utilities/showDraftPosts';
import FormattedDate from '../components/FormattedDate.astro';


const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).filter((post) => showDraftPosts(post));

---

<BaseLayout>
    <p class="mb-16">
				Welcome 👋! My name's Jonathan Yeong and this blog is a collection of thoughts, notes, and guides on topics that excite me.
        If you want to stay up to date, subscribe to my <a href="/rss.xml" class="text-link">RSS</a>.
    </p>

	<ul class="flex flex-col gap-y-8">
		{
			posts.map((post) => (
				<li class="flex justify-between gap-4">
					<a href={`/${post.slug}/`} class="text-link">{post.data.title}</a>
					<FormattedDate date={post.data.updatedDate ? post.data.updatedDate : post.data.pubDate} class="shrink-0" />
				</li>
			))
		}
	</ul>
</BaseLayout>
