---
import BaseLayout from '../layouts/BaseLayout.astro';
import { CollectionEntry, getCollection } from 'astro:content';
import showDraftPosts from '../utilities/showDraftPosts';
import FormattedDate from '../components/FormattedDate.astro';


const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).filter((post) => showDraftPosts(post));
---

<BaseLayout>
    <p class="mb-16">
        Hey there, I'm Jonathan Yeong 👋. But you can call me Jono!
				I'm a Senior Developer at Shopify before that I worked at a couple of startups,
				and as a freelancer.
				This blog is a collection of thoughts, notes, and guides on topics that excite me.
        If you want to stay up to date, subscribe to my <a href="/rss.xml" class="text-link">RSS</a>.
				If you want to hear more from me find me on
				<a href="https://hachyderm.io/@jonathanyeong" class="text-link">Mastodon</a>
				or <a href="https://twitter.com/JonoYeong" class="text-link">Twitter</a>.
    </p>

	<ul class="flex flex-col gap-y-8">
		{
			posts.map((post) => (
				<li class="flex justify-between gap-4">
					<a href={`/${post.slug}/`} class="text-link">{post.data.title}</a>
					<FormattedDate date={post.data.pubDate} class="shrink-0" />
				</li>
			))
		}
	</ul>
</BaseLayout>