{{ define "hero" }}
<div class="hero__callout">
  <h1>Jonathan Yeong</h1>
</div>
{{end}}

{{ define "main" }}
<div class="posts-container">
  {{ $aboutTitle := "About" }}
  {{ range where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{if not (eq .Title $aboutTitle) }}
  <a class="post" href="{{.Permalink}}">
    <div class="post__card">
      <span>{{.Date.Format "2 Jan, 2006"}}</span>
      <h2>{{.Title}}</h2>
      <p>
        {{ .Content | safeHTML | truncate 220}}
        <span>Read More</span>
      </p>
    </div>
  </a>

  {{end}}
  {{ end }}
</div>

{{ end }}