---
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<span class="article-card">
  <a href={`writing/${post.slug}/`}>{post.data.title}</a>
  <hr />
  <span class="article-card__topics">{post.data.topics.join(', ')}</span>
</span>

<style>
  .article-card {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--space-3xs);
    font-size: var(--font-step-0);
    /* border-bottom: 1px solid color-mix(in srgb, var(--color-text), transparent 80%); */
    border-bottom: 2px solid var(--color-text);
    padding-bottom: var(--space-m);

    @media screen and (min-width: 760px) {
      flex-direction: row;
      gap: var(--space-s);
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  .article-card:hover,
  .article-card:hover > a {
    color: var(--color-hover-text);
  }

  a {
    color: var(--color-text);
    font-weight: bold;
    font-size: var(--font-step-1);
    text-decoration: none;
    letter-spacing: -0.03em;
    white-space: nowrap;
  }

  hr {
    display: none;

    @media screen and (min-width: 760px) {
      display: block;
      border: 1px solid var(--color-text);
      padding: 0;
      margin: 0;
      flex-grow: 1;
      align-self: center;
    }
  }

  .article-card__topics {
    font-style: italic;
  }
</style>