---
const { title, description, slug } = Astro.props;
import { Icon } from "astro-icon/components";
---

<article>
  <h3>{title}</h3>
  <p class="card-description">{description}</p>
  <a href={`/${slug}`}>
    Read More <Icon name="arrow-right" />
  </a>
</article>
