---
import type { BlogPost } from '@utilities/getAllPosts';
import FeaturedArticleCard from '@components/FeaturedArticleCard.astro'

interface Props {
  posts: BlogPost[];
}

const { posts } = Astro.props;
---

<ul class="flow">
  {
    posts.map((post) => (
      <li>
        <FeaturedArticleCard post={post} />
      </li>
    ))
  }
</ul>

<style>
  li {
    list-style: none;
  }

  ul {
    --flow-space: var(--space-l);
    padding: 0;
  }
</style>