---
import { Icon } from "astro-icon/components";
const currYear = new Date().getFullYear();
---

<footer class="site-foot">
  <div class="site-foot__content">
    <div class="stack">
      <a href="/">
        <Icon name="logo" />
      </a>
      <div>
        ©2021-{currYear}<br />
        Jonathan Yeong
      </div>
    </div>
    <div class="stack">
      <b>Built with Astro 🚀</b>
      <span>Made with &hearts;</span>
    </div>
  </div>

  <div class="site-foot__content">
    <div class="stack">
      <b>Links</b>
      <ul class="site-foot__links">
        <li><a href="">Writing</a></li>
        <!-- <li><a href="">Blog Roll</a></li> -->
        <!-- <li><a href="">Contact</a></li> -->
        <li><a href="/about">About</a></li>
        <li><a href="/rss.xml/">RSS</a></li>
        <!-- <li><a href="">Projects</a></li> -->
      </ul>
    </div>
    <div class="stack">
      <b>Social</b>
      <ul class="site-foot__links site-foot__social">
        <li><a href=""><Icon name="youtube" /></a></li>
        <li><a href=""><Icon name="bluesky" /></a></li>
        <li><a href=""><Icon name="github" /></a></li>
        <li><a href=""><Icon name="linkedin" /></a></li>
      </ul>
    </div>
  </div>
</footer>
