---
const today = new Date();
---

<footer class="text-center mt-8 pb-4 dark:text-slate-200">
	Made with <span class="text-logo-green dark:text-teal-400">&hearts;</span> &copy; {today.getFullYear()} Jonathan Yeong
</footer>
