---
const today = new Date();
---

<footer class="fixed inset-x-0 bottom-0 max-w-2xl mx-auto text-center">
	Made with <span class="text-teal-500">&hearts;</span> &copy; {today.getFullYear()} Jonathan Yeong
</footer>
