---
import HeaderLink from './HeaderLink.astro';
import { Icon } from 'astro-icon/components';
---

<script>
  const preferredColorScheme = (() => {
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	});

  const updateIconVisibility = (theme: string) => {
    const sunIcon = document.querySelector('[data-icon="sun"]');
    const moonIcon = document.querySelector('[data-icon="moon"]');

    if (theme === 'dark') {
      sunIcon?.classList.remove('display-icon');
      moonIcon?.classList.add('display-icon');
    } else {
      moonIcon?.classList.remove('display-icon');
      sunIcon?.classList.add('display-icon');
    }
  }

  const handleColorSchemeChange = (event: MediaQueryListEvent) => {
    if (localStorage.getItem('theme')) {
      return;
    }
    const preferredTheme = event.matches ? 'dark' : 'light'
    updateIconVisibility(preferredTheme);
  }


  const initialThemeIconState = () => {
    const currentTheme = localStorage.getItem('theme') || preferredColorScheme()
    updateIconVisibility(currentTheme);
  }

  const handleToggleClick = () => {
    const currentTheme = localStorage.getItem('theme') || preferredColorScheme()
    const newTheme = currentTheme === 'dark' ? 'light' : 'dark'

    updateIconVisibility(newTheme);
    document.body.setAttribute('data-theme', newTheme);
    localStorage.setItem('theme', newTheme);
  }

  const setupEventListeners = () => {
    const colorSchemeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)')
    colorSchemeMediaQuery.addEventListener('change', handleColorSchemeChange)

    const themeToggle: HTMLElement | null = document.getElementById("themeToggle");
    themeToggle && themeToggle.addEventListener("click", handleToggleClick);
  }

  initialThemeIconState()
  setupEventListeners()
</script>

<header>
	<a href="/">
		<span class="screen-reader">JY Logo</span>
		<Icon name="logo2" />
	</a>
  <div class="menu-container">
    <button id="themeToggle" aria-label="Toggle Light/Dark Theme" type="button">
      <Icon name="sun" />
      <Icon name="moon" />
    </button>

	  <Icon name="menu" />
  </div>
</header>

<style>
  header {
    --flow-space: var(--space-m);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-s);
  }

  [data-icon] {
    width: var(--space-m);
    height: var(--space-m);
  }

  [data-icon="sun"],
  [data-icon="moon"] {
    display: none;
  }

  [data-icon="logo2"] {
    color: light-dark(var(--color-logo-light), var(--color-logo-dark));
  }

  .display-icon {
    display: block;
  }

  button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }
</style>
