---
import HeaderLink from './HeaderLink.astro';
import { Icon } from 'astro-icon/components';
---

<script>
  const preferColorScheme = (() => {
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	});

  const handleToggleClick = () => {
    const currentTheme = localStorage.getItem('theme') || preferColorScheme()
    const newTheme = currentTheme === 'dark' ? 'light' : 'dark'
    document.body.setAttribute('data-theme', newTheme);
    localStorage.setItem('theme', newTheme);
  }

  const themeToggle: HTMLElement | null = document.getElementById("themeToggle");
  themeToggle && themeToggle.addEventListener("click", handleToggleClick);
</script>

<header>
	<a href="/">
		<span class="screen-reader">JY Logo</span>
		<Icon name="logo2" />
	</a>
  <div class="menu-container">
    <button id="themeToggle" aria-label="Toggle Light/Dark Theme" type="button">
      <Icon name="sun" />
    </button>

	  <Icon name="menu" />
  </div>
</header>

<style>
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block-start: var(--space-m);
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    gap: var(--space-s);
  }

  [data-icon] {
    width: var(--space-m);
    height: var(--space-m);
  }

  button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
</style>
