<script>
  import { createTimeline, stagger } from 'animejs';

  document.addEventListener('DOMContentLoaded', () => {
    const timeline = createTimeline();
    timeline
      .add('.anime-phrase', {
        opacity: [0, 1],
        translateY: ['1.5rem', 0],
        duration: 300,
        delay: stagger(100)
      })
      .add('.anime-highlight', {
        opacity: [0, 1],
        translateX: [-30, 0],
        duration: 300,
        easing: 'easeOutQuint',
      });
  });
</script>

<div class="hero">
  <p class="wrapper">
    <span class="hero__text anime-phrase">Hey I'm Jono.</span>
    <span class="hero__text anime-phrase">I build delightful websites.</span>
    <span class="hero__text anime-phrase">Telling stories along the way.</span>
    <span class="hero__text anime-phrase">Obsessed about developer experience.</span>
    <br />
    <span class="highlight anime-highlight">Nice to meet you!</span>
  </p>
</div>

<style>
  .hero {
    /* Vertically center text */
    display: grid;
    place-items: center;

    background: var(--color-hero-bg);
    border-radius: var(--space-m);
    margin-left: var(--space-m);
    margin-right: var(--space-m);
    padding-top: var(--space-l);
    padding-bottom: var(--space-l);
    min-height: 70vh;
    height: auto;
  }

  .hero p {
    --gutter: var(--space-m);

    font-family: var(--font-hero);
    font-weight: 700;
    font-size: var(--font-step-6);
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: var(--color-hero-text);
  }

  .highlight {
    color: var(--color-hero-higlight);
  }

  .anime-phrase {
    display: inline-block;
    opacity: 0;
    transform: translateY(1.5rem);
  }

  .anime-highlight {
    opacity: 0;
    display: inline-block;
  }
</style>