<div class="hero">
  <p class="wrapper">
    Hey I’m Jono. I build delightful websites. Telling stories along the way. Obsessed about developer experience.
    <br />
    <span class="highlight">Nice to meet you!</span>
  </p>
</div>

<style>
  .hero {
    /* Vertically center text */
    display: grid;
    place-items: center;

    background: var(--color-about-bg);
    border-radius: var(--space-m);
    margin-left: var(--space-m);
    margin-right: var(--space-m);
    padding-top: var(--space-l);
    padding-bottom: var(--space-l);
    min-height: 70vh;
    height: auto;
  }

  .hero p {
    --gutter: var(--space-m);

    font-family: var(--font-hero);
    font-weight: 700;
    font-size: var(--font-step-6);
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--color-gray-3);
  }

  .highlight {
    color: var(--color-green-1);
  }
</style>