---
import Button from './Button.astro';
---

<div>
  <h2>Do you want even more?</h2>
  <p>Sign up to my newsletter for random, unhinged, and downright ludicrous emails.</p>

  <Button link="test" text="Subscribe" />
</div>
