---
import { Icon } from 'astro-icon/components';
---

<script>
  const closeNav = () => {
    const nav = document.getElementById("myNav");

    nav && (nav.style.display = "none");
    document.body.classList.remove("no-scroll");
  }

  const menuToggle: HTMLElement | null = document.getElementById("closeNav");
  menuToggle && menuToggle.addEventListener("click", closeNav);
</script>

<div id="myNav" class="overlay">
  <div class="container flow">
    <div class="close-row">
      <span id="closeNav"><Icon name="close" /></span>
    </div>
    <ul class="menu-items">
      <li><a href="/">Home</a></li>
      <li><a href="/writing">Writing</a></li>
      <li><a href="/about">About</a></li>
      <!-- <li><a href="/now">Now</a></li> -->
      <li><a href="/rss.xml/">RSS</a></li>
    </ul>
  </div>
</div>

<style>
  .overlay {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding: var(--space-m);
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* border-radius: var(--space-s); */
    /* background-color: var(--color-about-bg); */
    background-color: #bbb791;
    /* background: hsl(from #bbb791 h s l / 95%); */
    /* backdrop-filter: blur(16px); */
    z-index: 100;
  }

  .menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }

  .menu-items li {
    padding-top: var(--space-m);
    padding-bottom: var(--space-m);
    border-bottom: 1px solid var(--color-dark-text-opacity);
  }

  .menu-items a {
    text-decoration: none;
    font-size: var(--font-step-4);
    color: var(--color-dark-text);
  }

  span {
    cursor: pointer;
    color: var(--color-dark-text);
  }

  [data-icon] {
    width: var(--space-m);
    height: var(--space-m);

  }

  .close-row {
    text-align: right;
  }

  .social-items {
    --flow-space: var(--space-l);

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--space-m);
  }

  .social-items a {
    color: var(--color-dark-text);
    opacity: 1;
  }

  .social-items [data-icon] {
    width: var(--space-m);
    height: var(--space-m);
  }

  .social-items [data-icon="youtube"] {
    width: calc(var(--space-m) * 1.2);
    height: calc(var(--space-m) * 1.2);
  }

  .social-items a:hover {
    opacity: 0.7;
  }

</style>