---
import { Icon } from 'astro-icon/components';
---

<script>
  const closeNav = () => {
    const nav = document.getElementById("myNav");

    nav && (nav.style.display = "none");
    document.body.classList.remove("no-scroll");
  }

  const menuToggle: HTMLElement | null = document.getElementById("closeNav");
  menuToggle && menuToggle.addEventListener("click", closeNav);
</script>

<div id="myNav" class="overlay-container">
  <div class="overlay wrapper flow">
    <div class="close-row">
      <span id="closeNav"><Icon name="close" /></span>
    </div>
    <ul class="menu-items">
      <li><a href="/">Home</a></li>
      <li><a href="/writing">Writing</a></li>
      <li><a href="/about">About</a></li>
      <!-- <li><a href="/now">Now</a></li> -->
      <li><a href="/rss.xml/">RSS</a></li>
    </ul>
  </div>
</div>

<style>
  .overlay-container {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-overlay-bg);
    z-index: 100;
  }

  .overlay {
    --gutter: var(--space-m);
    padding-top: var(--space-s);
  }

  .menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }

  .menu-items li {
    padding-top: var(--space-m);
    padding-bottom: var(--space-m);
    border-bottom: 2px solid var(--color-text);
  }

  .menu-items a {
    text-decoration: none;
    font-size: var(--font-step-4);
    color: var(--color-text);
    transition: color var(--transition-base);
  }

  .menu-items a:hover {
    color: light-dark(var(--color-light-text), var(--color-light-accent));
  }

  span {
    cursor: pointer;
    color: var(--color-text);
    transition: color var(--transition-base);
  }

  span:hover {
    color: light-dark(var(--color-light-text), var(--color-light-accent));
  }

  [data-icon] {
    width: 1.5rem;
    height: 1.5rem;
    /* Visual Styling - TODO: Find a better way to position the X */
    transform: translate(-0.7rem, 0.3rem);
  }

  .close-row {
    text-align: right;
  }
</style>