---
interface Props {
  topics: string[];
}

const { topics } = Astro.props;
---

<ul class="topic-list" role="list">
  {
    topics.map((topic) => (
      <li class="topic-list__item">
        <a href={`/topics/${topic}/`}>{topic}</a>
      </li>
    ))
  }
</ul>

<style>
  .topic-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2xs);
  }

  .topic-list__item a {
    border-radius: var(--space-3xs);
    border: 2px solid var(--color-text);
    display: inline-block;
    padding: var(--space-3xs) var(--space-xs);
    text-transform: capitalize;
    text-decoration: none;

    -webkit-transition: border-color 200ms ease;
    -ms-transition: border-color 200ms ease;
    transition: border-color 200ms ease;
    -webkit-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    transition: color 200ms ease;
  }

  .topic-list__item a:hover {
    border-color: var(--color-hover-text);
  }

</style>
