{{ define "main" }}

<main>
	<div class="post">
		{{ partial "single/hero.html" . }}
		<div class="post__all-info">
			{{ partial "single/title.html" . }}
			{{ partial "single/post-info.html" . }}
		</div>
		<div class="post__body">
			{{ .Content }}
			<hr class="end-of-post"/>
		</div>
		<div class="post__footer">
			<h2>Share This:</h2>
			<div class="social-media-share">
				<a class="twitter-icon"
					href="https://twitter.com/intent/tweet?text=%22{{ .Title }}%22%20by%20@jonoyeong&url={{ .Permalink | absURL }}"
					title="{{ .Title }}" target="_blank">
					<i class="fab fa-twitter-square"></i>
				</a>
			</div>
			<div class="post__newsletter">
				<div class="newsletter-cta"><em>Want to hear more from me? Sign up for my weekly newsletter on coding tidbits, advice, and learnings</em></div>
				<div class="newsletter-signup">{{ partial "single/mailchimp.html" . }}</div>
			</div>
			<div id="commento"></div>
		</div>
	</div>
</main>

{{ end }}
