---
import BaseHead from '@components/BaseHead.astro';
import Navbar from '@components/Navbar.astro';
import Footer from '@components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const { title, description, pubDate } = Astro.props;

const headTitle = title || SITE_TITLE;
const headDescription = description || SITE_DESCRIPTION;
const headPubDate = pubDate || new Date().toISOString();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preload" href="/fonts/Poppins-Bold.ttf" as="font" type="font/ttf" crossorigin>
    <BaseHead title={headTitle} description={headDescription} pubDate={headPubDate} />
    <link
                  rel="alternate"
                  type="application/rss+xml"
                  title={SITE_TITLE}
                  href={new URL("rss.xml", Astro.site)}
                />


  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr); /* This is the key addition */
  }
</style>