---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const { title, description, pubDate } = Astro.props;

const headTitle = title || SITE_TITLE;
const headDescription = description || SITE_DESCRIPTION;
const headPubDate = pubDate || new Date().toISOString();
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={headTitle} description={headDescription} pubDate={headPubDate} />
		<link
                  rel="alternate"
                  type="application/rss+xml"
                  title={SITE_TITLE}
                  href={new URL("rss.xml", Astro.site)}
                />


	</head>
	<body>
		<div class="container">
			<Header />
			<!-- <main class="flex-grow dark:text-slate-200">
				<slot />
			</main>
			<Footer /> -->
		</div>
	</body>
</html>

<style>
	.container {
		max-width: 100vw;
		margin: 0 auto;
	}

  /* min-width(760px) did not render but it did not throw an error  */
	@media screen and (min-width: 760px) {
		.container {
			max-width: 50vw;
		}
	}
</style>