---
import { getCollection } from 'astro:content';

import BaseLayout from '@layouts/BaseLayout.astro';
import ArticleList from '@components/ArticleList.astro'
import Newsletter from '@components/Newsletter.astro';

import filterPublishedPosts from '@utilities/filterPublishedPosts';


const posts = filterPublishedPosts(await getCollection('blog'))

---

<BaseLayout>
  <main class="flow wrapper">
    <h1 class="writing-header">Writing</h1>
    <div class="article-list">
      <ArticleList posts={posts} />
    </div>
    <Newsletter />
  </main>

</BaseLayout>


<style>
  main {
    --gutter: var(--space-m);
    padding-top: var(--space-xl);
  }

  .writing-header {
    text-align: center;
    font-size: var(--font-step-8);
    font-family: var(--font-hero);
  }

  .article-list {
    --flow-space: var(--space-xl);
  }

</style>
