<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="monetization" content="$ilp.uphold.com/4b4L76Wb4jE9">
		<meta property="og:site_name" content="Jonathan Yeong">
		{{- if .IsPage }}
			{{ partial "single/header.html" . }}
		{{- end}}

		<title>
			{{- if .IsHome }}
				{{ .Site.Title }}
			{{- else }}
				{{ .Title }} &middot; {{ .Site.Title }}
			{{- end }}
		</title>

		<!-- CSS -->
		{{- $inServerMode	:= .Site.IsServer }}
		{{- $cssTarget		:= "css/style.css" }}
		{{- $cssOptions		:= cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
		{{- $style			:= resources.Get "scss/tale.scss" | toCSS $cssOptions }}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
		<link rel="stylesheet" href="/css/all.min.css">
		{{ range .Site.Params.css -}}
			<link rel="stylesheet" href="{{ . | relURL }}">
		{{ end -}}

		<!-- Favicon -->
		<link rel="icon" type="image/ico" sizes="32x32" href="{{ "images/favicon.ico" | relURL }}">

		<!-- RSS -->
		<link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
		<script defer src="https://cdn.commento.io/js/commento.js"></script>
		<script async defer data-domain="jonathanyeong.com" src="https://plausible.io/js/plausible.js"></script>
	</head>
