.container {
  margin: 0 auto;
  max-width: 900px;
  width: 80%;
}

.nav {
  color: white;
  background-color: $primary-color;
  border-bottom: 1px solid $white-2;
  padding: 1.5rem 1.25rem;

  &-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  h1:not(.nav-title) {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

.nav-end {
  display: flex;
  flex-direction: row;
  align-items: center;

  .nav-connect-icons {
    padding-right: 15px;
    a {
      margin-right: 7px;
    }
  }
}

.nav-title {
  margin-bottom: 0;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

@media (min-width: 768px) {
  .nav-branding {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-profile-pic {
    width: 150px;
    height: 150px;
    background: black;
    background-image: url("/images/profile_pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .nav {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2rem;
    width: 25%;
    border-right: 1px solid $white-2;
    border-bottom: none;
    flex-direction: column;
    align-items: flex-start;

    &-container {
      height: 100%;
      flex-direction: column;
      align-items: flex-start
    }
  }

  .nav-end {
    align-items: flex-start;
    flex-direction: column;

    .nav-connect-icons {
      padding-right: 0;
      a {
        font-size: 1.2rem;
        margin-right: 10px;
      }
    }
  }


  main {
    width: 75%;
    margin-left: 25%;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

